<span class="menu-icon inbox">
    <a class="" href="#" role="button" id="dropdownMenuLink3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fa fa-envelope"></i>
        <span class="badge badge-danger">4</span>
    </a>
    <div class="dropdown-menu dropdown-menu-left mt-10 animated zoomInDown" aria-labelledby="dropdownMenuLink3">
        <a class="dropdown-item" href="#"><strong>Tin nhắn chưa đọc</strong></a>
        <div class="dropdown-divider"></div>
        <a href="#" class="dropdown-item">
            <div class="media">
                <img class="align-self-center mr-3 rounded-circle" src="~/Areas/assets/img/profile.jpg" width="50" height="50" alt="Generic placeholder image">
                <div class="media-body">
                    <h6 class="mt-0"><strong>Lê Nam 1</strong></h6>
                    <p>Bạn có khỏe không?</p>
                    <small class="text-success">09:23 am</small>
                </div>
            </div>
        </a>
        <div class="dropdown-divider"></div>
        <a href="#" class="dropdown-item">
            <div class="media">
                <img class="align-self-center mr-3 rounded-circle" src="~/Areas/assets/img/profile.jpg" width="50px" height="50px" alt="Generic placeholder image">
                <div class="media-body">
                    <h6 class="mt-0"><strong>Lê Nam 2</strong></h6>
                    <p>Bạn có khỏe không?</p>
                    <small class="text-success">09:23 am</small>
                </div>
            </div>
        </a>
        <div class="dropdown-divider"></div>
        <a href="#" class="dropdown-item">
            <div class="media">
                <img class="align-self-center mr-3 rounded-circle" src="~/Areas/assets/img/profile.jpg" width="50px" height="50px" alt="Generic placeholder image">
                <div class="media-body">
                    <h6 class="mt-0"><strong>Lê Nam 3</strong></h6>
                    <p>Bạn có khỏe không?</p>
                    <small class="text-success">09:23 am</small>
                </div>
            </div>
        </a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item text-center link-all" href="#">Xem tất cả tin nhắn</a>
    </div>
</span>
