<!--Notification icon-->
<div class="menu-icon">
    <a class="" href="#" onclick="toggle_dropdown(this); return false" role="button" class="dropdown-toggle">
        <i class="fa fa-bell"></i>
        <span class="badge badge-danger">5</span>
    </a>
    <div class="dropdown dropdown-left bg-white shadow border">
        <a class="dropdown-item" href="#"><strong>Thông báo</strong></a>
        <div class="dropdown-divider"></div>
        <a href="#" class="dropdown-item">
            <div class="media">
                <div class="align-self-center mr-3 rounded-circle notify-icon bg-primary">
                    <i class="fa fa-bookmark"></i>
                </div>
                <div class="media-body">
                    <h6 class="mt-0"><strong>Cuộc họp</strong></h6>
                    <p>Bạn có cuộc họp lúc 8:00</p>
                    <small class="text-success">8:00 am</small>
                </div>
            </div>
        </a>
        <div class="dropdown-divider"></div>
        <a href="#" class="dropdown-item">
            <div class="media">
                <div class="align-self-center mr-3 rounded-circle notify-icon bg-secondary">
                    <i class="fa fa-link"></i>
                </div>
                <div class="media-body">
                    <h6 class="mt-0"><strong>Sự kiện</strong></h6>
                    <p>Có đơn mới</p>
                    <small class="text-success">09:00 am</small>
                </div>
            </div>
        </a>
        <div class="dropdown-divider"></div>
        <a href="#" class="dropdown-item">
            <div class="media">
                <div class="align-self-center mr-3 rounded-circle notify-icon bg-warning">
                    <i class="fa fa-user"></i>
                </div>
                <div class="media-body">
                    <h6 class="mt-0"><strong>Nhân viên</strong></h6>
                    <p>Nhân viên mới đến</p>
                    <small class="text-success">09:30 am</small>
                </div>
            </div>
        </a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item text-center link-all" href="#">Xem tất cả thông báo</a>
    </div>
</div>
<!--Notication icon-->
