<div class="col-md-3">
    <div class="customer-info text-center">
        <div class="feedback-hny">
            <span class="fa fa-quote-left"></span>
            <p class="feedback-para">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Labore rem, dicta assumenda mollitia molestias quas nihil quasis.</p>
        </div>
        <div class="feedback-review mt-4">
            <img src="/assets/images/c1.jpg" class="img-fluid" alt="">
            <h5>Lê Nam</h5>
        </div>
    </div>
</div>
