
@{
    ViewBag.Title = "Báo cáo doanh số";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="container">
    <div class="row">
        <div class="col text-center border">
            <a href="#" class="btn">
                <i class="far fa-calendar-alt"></i>
                <p>Doanh số theo tháng</p>
            </a>
        </div>
        <div class="col text-center border">
            <a href="#" class="btn">
                <i class="fas fa-calendar-minus"></i>
                <p>Doanh số theo tuần</p>
            </a>
        </div>
        <div class="col text-center border">
            <a href="#" class="btn">
                <i class="fas fa-address-book"></i>
                <p>Doanh số theo loại sản phẩm</p>
            </a>
        </div>
        <div class="col text-center border">
            <a href="#" class="btn">
                <i class="fas fa-bookmark"></i>
                <p>Doanh số theo nhà cung cấp</p>
            </a>
        </div>
    </div>
    <hr />
</div>

