
@{
    ViewBag.Title = "Giới thiệu";
}

<!-- About Section Begin -->
<section class="about spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="about__pic">
                    <img src="~/Upload/heidi-fin-2TLREZi7BUg-unsplash.jpg" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="about__item">
                    <h4>Chúng tôi là ai ?</h4>
                    <p>
                        Biluxury tiền thân là Bionline, là thương hiệu thời trang nam của Công ty CP thời trang Bimart, ra đời từ năm 2009, tiên phong phát triển theo hình thức chuỗi nhượng quyền và nhanh chóng đạt được nhiều thành tích ấn tượng.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="about__item">
                    <h4>Chúng tôi làm gì ?</h4>
                    <p>
                        Đối tượng mà Biluxury hướng tới là nam giới trong độ tuổi từ 25 đến 35 tuổi, những người đàn ông thành đạt , luôn muốn có sự cân bằng giữa phát triển sự nghiệp và tận hưởng cuộc sống. Sản phẩm của Biluxury mang tới cho phái mạnh Việt hình ảnh trẻ trung, năng động, hiện đại mà không kém phần lịch sự, sang trọng. Được hàng trăm nghìn khách hàng thân thiết đặt niểm tin và lựa chọn là người bạn đồng hành mỗi ngày trong công việc và cuộc sống.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="about__item">
                    <h4>Tại sao chọn chúng tôi ?</h4>
                    <p>
                        Biluxury ra đời để hoàn thành sứ mệnh đáp ứng được cho khách hàng sự hài lòng  về chất lượng sản phẩm,dịch vụ bán hàng và đặc biệt là một không gian thời trang được cập nhật xu hướng mới nhất trên thế giới.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About Section End -->
<!-- Testimonial Section Begin -->
<section class="testimonial">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 p-0">
                <div class="testimonial__text">
                    <span class="icon_quotations"></span>
                    <p>
                        “Biluxury cam kết mang lại giá trị đích thực và một cuộc sống thịnh vượng hơn cho phái mạnh Việt”
                    </p>
                    <div class="testimonial__author">
                        <div class="testimonial__author__pic">
                            <img src="/assets/img/about/testimonial-author.jpg" alt="">
                        </div>
                        <div class="testimonial__author__text">
                            <h5>Lê Văn Nam</h5>
                            <p>Người thiết kế</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 p-0">
                <div class="testimonial__pic set-bg" data-setbg="/assets/img/about/testimonial-pic.jpg"></div>
            </div>
        </div>
    </div>
</section>
<!-- Testimonial Section End -->
<!-- Counter Section Begin -->
<section class="counter spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="counter__item">
                    <div class="counter__item__number">
                        <h2 class="cn_num">@ViewBag.CountKH</h2>
                    </div>
                    <span>Người dùng</span>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="counter__item">
                    <div class="counter__item__number">
                        <h2 class="cn_num">6</h2>
                    </div>
                    <span>Danh mục</span>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="counter__item">
                    <div class="counter__item__number">
                        <h2 class="cn_num">@ViewBag.CountSP</h2>
                    </div>
                    <span>Sản phẩm</span>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="counter__item">
                    <div class="counter__item__number">
                        <h2 class="cn_num">98</h2>
                        <strong>%</strong>
                    </div>
                    <span>Khách hàng tin tưởng</span>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Counter Section End -->
<!-- Team Section Begin -->
<section class="team spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <span>Đội ngũ của chúng tôi</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="team__item">
                    <img src="/assets/img/about/team-1.jpg" alt="">
                    <h4>Lê Nam 1</h4>
                    <span>Nhà thiết kế thời trang</span>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="team__item">
                    <img src="/assets/img/about/team-2.jpg" alt="">
                    <h4>Lê Nam 2</h4>
                    <span>C.E.O</span>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="team__item">
                    <img src="/assets/img/about/team-3.jpg" alt="">
                    <h4>Lê Nam 3</h4>
                    <span>Quản lý</span>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="team__item">
                    <img src="/assets/img/about/team-4.jpg" alt="">
                    <h4>Lê Nam 4</h4>
                    <span>Nhân viên bán hàng</span>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Team Section End -->