
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keywords" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!--Meta Responsive tag-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--Bootstrap CSS-->
    <link rel="stylesheet" href="~/Areas/assets/css/bootstrap.min.css">
    <!--Custom style.css-->
    <link rel="stylesheet" href="~/Areas/assets/css/quicksand.css">
    <link rel="stylesheet" href="~/Areas/assets/css/style.css">
    <!--Font Awesome-->
    <link rel="stylesheet" href="~/Areas/assets/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="~/Areas/assets/css/fontawesome.css">

    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <title>Đăng ký - BILUXURY TỦ ĐỒ PHÁI MẠNH</title>
</head>

<body class="login-body">

    <!--Login Wrapper-->

    <div class="container-fluid login-wrapper">
        <div class="login-box">
            <h1 class="text-center mb-5"><i class="far fa-gem"></i> Biluxury</h1>
            <div class="row">
                <div class="col-md-6 col-sm-6 col-12 login-box-info">
                    <p class="mb-4">Bạn đã có tài khoản?</p>
                    <p class="text-center"><a href="/Home/Login" class="btn btn-light">Đăng nhập</a></p>
                </div>
                <div class="col-md-6 col-sm-6 col-12 login-box-form p-4">
                    <h3 class="mb-2">Đăng ký</h3>
                    <small class="text-muted bc-description">Tạo tài khoản mới</small>
                    <form action="/Home/Register" method="post" class="mt-2">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1"><i class="fa fa-user"></i></span>
                            </div>
                            <input type="text" class="form-control mt-0" placeholder="Họ và tên" name="name" aria-label="Username" aria-describedby="basic-addon1">
                        </div>

                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1"><i class="fa fa-envelope"></i></span>
                            </div>
                            <input type="email" class="form-control mt-0" placeholder="yourmail@gmail.com" name="email" aria-label="email" aria-describedby="basic-addon1">
                        </div>

                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1"><i class="fa fa-phone"></i></span>
                            </div>
                            <input type="text" class="form-control mt-0" placeholder="0123-456-789" name="phone" aria-label="phone" aria-describedby="basic-addon1">
                        </div>

                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1"><i class="fa fa-lock"></i></span>
                            </div>
                            <input type="password" class="form-control mt-0" placeholder="Mật khẩu" name="pass" aria-label="Password" aria-describedby="basic-addon1">
                        </div>

                        <div class="form-group">
                            <button type="submit" class="btn btn-theme btn-block p-2 mb-1">Đăng ký</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!--Login Wrapper-->
    <!-- Page JavaScript Files-->
    <script src="~/Areas/assets/js/jquery.min.js"></script>
    <script src="~/Areas/assets/js/jquery-1.12.4.min.js"></script>
    <!--Popper JS-->
    <script src="~/Areas/assets/js/popper.min.js"></script>
    <!--Bootstrap-->
    <script src="~/Areas/assets/js/bootstrap.min.js"></script>

    <!--Custom Js Script-->
    <script src="~/Areas/assets/js/custom.js"></script>
    <!--Custom Js Script-->
</body>
</html>
